.listTasks{
    display: flex; 
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.actions{
    display: flex;
    margin: auto;
}

.btn{
    background-color: rgba(209, 28, 28, 0.082);
    border: none;
    height: 55px;
    width: 150px;
    font-size: 18px;
    color: rgb(209, 28, 28);
    cursor: pointer;
}

.btn:hover:not(.active){
    background-color: rgba(209, 28, 28, 0.323); 
}

.btn:first-child{
    border-radius: 5px 0 0 5px;
}

.btn:last-child{
    border-radius: 0 5px 5px 0;
}

.active{
    background-color: rgb(209, 28, 28);
    color: white;
}

.tasks{
    box-shadow: 0 0 1px gray;
    padding: 0 25px;
    border-radius: 10px;
    margin: 50px auto;
    width: 60%;
}

.newTask{
    background-color: rgb(209, 28, 28);
    border-radius: 5px !important;
    color: white !important;
    height: 35px !important;
    text-transform: capitalize;
}

.tasksAction{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 16px 0;
}

.newTask:hover{
    text-shadow: 0 0 5px white !important;
    background-color: rgb(209, 28, 28) !important;
}

h2{
    text-transform: capitalize;
}

.tasksContainer{
    box-shadow: 0 0 1px gray;
    border-radius: 10px;
    padding: 16px;
}

.task{
    box-shadow: 0 0 2px gray;
    border-radius: 10px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize; 
}