.nav{
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    border-radius: 10px;
    background-image: url("../../public/background.jpg");
    background-size: cover;
    width: 800px;
    height: 250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav h1{
    text-transform: capitalize;
    color: white !important;
}