.modal{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.container{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.121);
    height: 100%;
    width: 100%;
}

.form{
    background-color: white;
    border-radius: 25px;
    width: 600px;
    height: 450px;
    padding: 16px;
}

h1{
    color: black;
    text-align: left;
}

.fields{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    padding: 12px;
    box-shadow: 0 0 1px gray;
    border-radius: 25px;
}

.field{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.formLabel{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 8px;
    text-transform: capitalize;
}

.formControl{
    border-radius: 5px;
    width: 250px;
    height: 25px;
    border: none;
    box-shadow: 0 0 1px gray;
    padding: 6px;
}

.formControl:focus{
    box-shadow: 0 0 5px rgb(209, 28, 28);
}

.formControl::placeholder{
    text-transform: capitalize;
}

textarea{
    height: 55px !important;
    width: 550px !important;
}

.buttons{
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: end;
    padding: 25px 0;
}

.btn{
    height: 30px;
    width: 130px;
    border-radius: 8px;
    border: 1px solid rgb(209, 28, 28);
    cursor: pointer;
    text-transform: capitalize;
    font-size: 16px;
}

.close{
    background-color: white;
    color: rgb(209, 28, 28);
}

.add{
    background-color: rgb(209, 28, 28);
    color: white;
}